<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.melody" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >

        <!-- android:theme="@android:style/Theme.Holo.Light" > -->

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginPhone"
            android:label="Verify your phone number"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChooseCountry"
            android:label="Choose A country"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SmsVerification"
            android:label="@string/title_activity_sms_verification"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name=".SmsVerification$SmsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginProfile"
            android:label="Setup Profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsProfile"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingsPassword"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingsAddress"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Restaurant1"
            android:label="Menu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ShoppingCartActivity"
            android:label="Shopping Cart" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Restaurant1" />
        </activity>
        <activity
            android:name=".ProductDetails"
            android:label="Product Details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShoppingCartActivity" />
        </activity>
        <activity
            android:name=".TrackingActivity"
            android:label="Order Status" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShoppingCartActivity" />
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="Menu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="Map View" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fyp.melody.TrackingActivity" />
        </activity>
    </application>

</manifest>
