<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.melody" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.fyp.melody.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.fyp.melody.MAPS_RECEIVE" />

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="true"
        android:icon="@mipmap/melody_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- android:theme="@android:style/Theme.Holo.Light" > -->

        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RestaurantsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Restaurant"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LoginPhone"
            android:label="Verify your phone number"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.ChooseCountry"
            android:label="Choose A country"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.SmsVerification"
            android:label="@string/title_activity_sms_verification"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name=".login.SmsVerification$SmsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.LoginProfile"
            android:label="Setup Profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LoginPassword"
            android:label="Setup Password"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Restaurant" />
        </activity>
        <activity
            android:name=".activity.SettingsProfile"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsPassword"
            android:label="Edit Password"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsAddress"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsAddress1"
            android:label="Main Address"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SettingsAddress2"
            android:label="Delivery Address"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ProductActivity"
            android:label="Menu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Restaurant" />
        </activity>
        <activity
            android:name=".activity.ShoppingCartActivity"
            android:label="Shopping Cart"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MenuActivity" />
        </activity>

        <activity
            android:name=".activity.ShoppingCartActivityP"
            android:label="Shopping Cart"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductActivity" />
        </activity>
        <activity
            android:name=".ProductDetailsActivity"
            android:label="Product Details"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ShoppingCartActivity" />
        </activity>
        <activity
            android:name=".activity.PaymentActivity"
            android:label="Choose Payment Method"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ShoppingCartActivity" />
        </activity>
        <activity
            android:name=".activity.PaymentBankActivity"
            android:label="Online Payment"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ShoppingCartActivity" />
        </activity>
        <activity
            android:name=".activity.CheckoutActivity"
            android:label="Details Confirmation"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ShoppingCartActivity" />
        </activity>
        <activity
            android:name=".activity.TrackingActivity"
            android:label="Order Status"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ShoppingCartActivity" />
        </activity>
        <activity
            android:name=".activity.MenuActivity"
            android:label="Menu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Restaurant" />
        </activity>

        <activity
            android:name=".activity.MenuDetailsActivity"
            android:label="Menu Details"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MenuActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.MapsActivity"
            android:label="Map View"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.TrackingActivity" />
        </activity>
    </application>

</manifest>
